[user]
	name = Klas Mellbourn
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[commit]
	template = ~/.stCommitMsg
[mergetool]
	keepbackup = false
	prompt = false
[diff]
    tool = kdiff3
[difftool]
  prompt = false
[merge]
    tool = kdiff3
[alias]
	lol = log --graph --all
	lo = log --graph
	ci = commit
	br = branch
	co = checkout
	st = status
	mt = mergetool
	dt = difftool
	unstage = reset HEAD --
	last = log -1 HEAD
[fetch]
	prune = true
[log]
	decorate = short
	abbrevcommit = true
	date = relative
[rerere]
	enabled = true
[pull]
	rebase = true
[push]
	followTags = true
[rebase]
	autoStash = true
[format]
	pretty = %C(yellow)%h %C(magenta)%<(15,trunc)%an %C(cyan)%<(12,trunc)%cd %C(auto)%d%Creset %s
